<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chart.js - Dashboard Pie Chart Example</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
  </head>
  <body>
    <div class="container">
      <canvas id="chart"></canvas>
    </div>

    <script src="js/chart.js"></script>
  </body>
</html>