<div class="container-fuild bg-nav">
    <div class="row">
        <div class="col-8 col-md-10 col-lg-11 mt-2 mb-2">
            <p class="name-web"><a href="/">SneakerShop</a></p>
        </div>
        <div class="member col-2 col-md-2 col-lg-1 mt-2 mb-2">
            <a href="#" class="dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person-circle icon_member"></i>
            </a>
            <ul class="dropdown-menu mt-2" aria-labelledby="dropdownMenuLink">
                <li>
                    <a class="dropdown-item" href="/admin">รายชื่อสมาชิก</a>
                </li>
                <li>
                    <a class="dropdown-item" href="/admin/brand">รายการแบร์น</a>
                </li>
                <li>
                    <a class="dropdown-item" href="/admin/product">รายการสินค้า</a>
                </li>
                <li>
                    <a class="dropdown-item" href="/logout">ออกจากระบบ</a>
                </li>
            </ul>
        </div>
    </div>
</div>

