<footer class="bg-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 mt-5 mb-4 contect">
                <h2 class="border-bottom pb-3 border-light">Contect</h2>
                <p class="name"><i class="icon bi bi-person-fill"></i> : Thanaphat Sukhito (Oil)</p>
                <a href="https://www.facebook.com/profile.php?id=100008759642936" target="_blank"><i class="icon bi bi-facebook"></i> : Oil Thanaphat</a>
                <br>
                <a href="https://www.instagram.com/thanaphat.oil/" target="_blank"><i class="icon bi bi-instagram"></i> : thanaphat.oil</a>
                <br>
                <p class="name"><i class="icon bi bi-envelope-fill"></i> : oilthanaphatkung.01@gmail.com</p>
                <p class="name"><i class="icon bi bi-telephone-fill"></i> : 080-9900129</p>
            </div>
            <div class="col-12 col-md-6 mt-5 mb-4">
                <h2 class="border-bottom pb-3 border-light">Skills</h2>
                <div class="row">
                    <div class="col-5 col-md-5 col-lg-4">
                        <p>Language</p>
                        <ul>
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>Bootstrap</li>
                            <li>PHP</li>
                            <li>Javascript</li>
                            <li>Node.js<br>( Express.js )</li>
                        </ul>
                    </div>
                    <div class="col-4 col-md-4 col-lg-3">
                        <p>Server</p>
                        <ul>
                            <li>MySQL</li>
                            <li>MongoDB</li>
                        </ul>
                    </div>
                    <div class="col-3 col-md-3 col-lg-4">
                        <p>Tools</p>
                        <ul>
                            <li>Visual studio code</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>