<div class="container-fluid">
    <div class="row bg-nav">
        <div class="d-flex">
            <div class="col-8 col-md-9 col-lg-10 p-2">
                <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" href="/">หน้าหลัก</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/male">ผู้ชาย</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/female">ผู้หญิง</a>
                            </li>
                        </ul>
                        <form class="d-flex search" role="search">
                            
                            <input class="form-control ms-4 ms-md-4" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-secondary bi bi-search" type="submit"></button>
                        </form>
                    </div>
                </div>
                </nav>
            </div>
            <div class="cart col-2 col-md-1">
                <a href="/carts"><i class="bi bi-cart icon_cart"></i></a>
                <a href="/carts"><span class="product-number"><span id="cartQuantity"><%= cartQuantity %></span></span></a>
            </div>
            <div class="member col-2 col-md-1">
                    <a href="/login" class="btn"><i class="bi bi-person-circle icon_member"></i></a>
            </div>
        </div>
    </div>
</div>

